In [3]:
# for문의 기본구조


# for 변수 in 리스트(또는 문자열, 튜플):
#     수행할 문장1
#     수행할 문장1

test_list = ["one", "two", "three", "four", 5, 6, 7, 8, 9, 10]

# print(test_list[0])
# print(test_list[1])
# print(test_list[2])

for i in test_list:
    print(i)

one
two
three
four
5
6
7
8
9
10

In [4]:
a = [(1, 2), (3, 4), (5, 6)]

for t in a:
    print(t)

(1, 2)
(3, 4)
(5, 6)

In [7]:
a = [(1, 2), (3, 4), (5, 6)]

for (first, last) in a:
    print(first + last)

# t = (1, 2)
# (first, last) = (1, 2)

3
7
11

In [8]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:
    number = number + 1
    if mark >= 60:
        print(f"{number}번 학생은 합격입니다")
    else:
        print(f"{number}번 학생은 불합격입니다")

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [1]:
# for문과 continue문
marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks:
    number = number + 1
    # number += 1

    if mark < 60:
        continue

    print(f"{number}번 학생은 축하합니다, 합격입니다.")

1번 학생은 축하합니다, 합격입니다.
3번 학생은 축하합니다, 합격입니다.
5번 학생은 축하합니다, 합격입니다.

In [3]:
# for와 range를 이용한 구구단

for i in range(2, 10): # [2, 3, ... 9] -> 8
    for j in range(1, 10): # [1, 2, 3, ... 9] -> 9
        print(f"{i} X {j} = {i*j}")
    print(' ')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [4]:
# 리스트 컴프리헨션 사용

a = [1, 2, 3, 4]
result = []

for num in a:
    result.append(num * 3)

print(result)

[3, 6, 9, 12]

In [6]:
a = [1, 2, 3, 4]
result = [ num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [7]:
a = [1, 2, 3, 4]
result = []

for num in a:
    if num % 2 == 0:
        result.append(num*3)

print(result)

[6, 12]

In [9]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [12]:
result = [f"{x} X {y} = {x*y}" for x in range(2, 10) for y in range(1, 10)]
print(result)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81']

In [20]:
# 조건문의 참과 거짓

a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [22]:
# 3의 배수의 합 구하기

result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

In [23]:
# 별 표시하기

i = 0
while True:
    i += 1
    if i > 5: break
    print('*' * i)

*
**
***
****
*****

In [24]:
# 1부터 100까지 출력하기

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
# 평균 점수 구하기

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score

average = total / len(A)
print(average)

79.0

In [27]:
# 리스트 컴프리헨션 사용하기

number = [1, 2, 3, 4, 5]
result = [n*2 for n in number if n%2 ==1]
print(result)

[2, 6, 10]